body {
    background-color: #1D1148;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 90%;
    max-width: 600px;
    text-align: center;
}

.back-button {
    background: none;
    color: #FFFFFF;
    border: none;
    font-size: 16px;
    cursor: pointer;
    align-items:flex-start;
    margin-bottom: 20px;
    display: flex;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
}

.topic-select, .title-input, .message-input {
    width: calc(100% - 32px);
    padding: 10px 16px;
    margin-bottom: 20px;
    background-color: #2D1158;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
}

.message-input {
    height: 150px;
    resize: none;
}

.send-button {
    background-color: #007BFF;
    color: #FFFFFF;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100px;
    margin: 0 auto;
}

.bell-icon {
    position: absolute;
    right: 10px;
    width: 20px;
    height: 20px;
}
